* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

:root {
  --alabaster-grey: #E5E5E5;
  --white-smoke: #f4f4f4;
  --dim-grey: #6E6E6E;
}

.align-right {
  text-align: right;
}

.white-font {
  color: white;
}

.flex {
  display: flex;
}

.bold {
  font-weight: 600;
}

.grey-font {
  color: var(--dim-grey);
}

.card {
  width: 250px;
  height: 350px;
  background-color: var(--white-smoke);
  padding: 10px;
  border: 1px solid var(--alabaster-grey);
  border-radius: 4px;
}

.image-container {
  width: 100%;
  height: 50%;
  background-color: var(--alabaster-grey);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table tr:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.pokemon-type {
  width: max-content;
  padding: 2px 5px;
  border-radius: 2px;
}

.pokemon-header {
  justify-content: space-between;
  align-items: baseline;
  padding: 5px 0;
}

.pokemon-types {
  gap: 5px;
}

.details {
  margin: 5px 0
}

.side-bar {
  min-width: 250px;
  max-width: 300px;
  height: 100vh;
  background-color: var(--white-smoke);
  height: 100%;
  position: fixed;
  top: 100px;
  left: 0px;
}

main {
  position: relative;
  top: 100px;
  gap: 40px;
  height: 80vh;
}

.pokedex-container {
  margin: auto;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px 0;
  width: 80%;
  margin-left: 300px;
}


li {
  list-style: none;
}

ul {
  padding: 0;
}

.link {
  padding: 5px 20px;
  font-size: 24px;
  cursor: pointer;
}

.header {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  z-index: 100;
}

.search {
  height: 50px;
  padding: 0;
  margin: 0 20px;
}

.header h1 {
  margin: 0 20px;
}

.search input {
  height: 100%;
  width: 300px;
  position: relative; 
  left: 8px;
  font-size: 18px;
  align-self: flex-end;
}

.search button{
  background-color: var(--dim-grey);
  width: 100px;
  height: 100%;
  color: white;
  border: none;
  font-size: 18px;
}